@{
	ViewBag.Title = "REGISTER";
}

<div class="row" style="margin-top: 50px; padding: 20px;">


	<div class="col-sm-6 col-xs-6 col-md-6 col-lg-6">

		<form action="/Register/processRegister" method="POST" role="form">
			<legend style="width: 80%">Register</legend>

			<div class="form-group">
				<label for="fullName">Full name</label>
				<input type="text" class="form-control" id="fullname" name="fullName">
			</div>


			<div class="form-group">
				<label for="email">Email</label>
				<input type="email" class="form-control" id="email" name="email">
			</div>

			<div>
				<label class="radio-inline">
					<input type="radio" name="optradio" checked="checked">Male
				</label>
				<label class="radio-inline">
					<input type="radio" name="optradio">Female
				</label>
			</div>
			<div style="margin-top: 30px;">
				<button type="submit" class="btn btn-primary">Submit</button>
			</div>

		</form>

	</div>
	<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <div style="width: 400px; text-align: center">
            <div>
                <div id="Camera">
                </div>
                <br>
                <div class="ImagesContainer">
                    <div class="row">
                        <div class="col-sm-4">
                            <img class="Thumbnail" id="img1" src="~/Content/Images/no-image.png"  />
                            <button class="captureImgBtn" data-id="img1" >Capture</button>
                        </div>
                        <div class="col-sm-4">
                            <img class="Thumbnail" id="img2" src="~/Content/Images/no-image.png"  />
                            <button class="captureImgBtn" data-id="img2" >Capture</button>
                        </div>
                        <div class="col-sm-4">
                            <img class="Thumbnail" id="img3" src="~/Content/Images/no-image.png"  />
                            <button class="captureImgBtn" data-id="img3" >Capture</button>
                        </div>
                    </div>            
                </div>
                
            </div>
        </div>	
	</div>

</div>

@section Scripts {
<script src="@Url.Content("~/Scripts/App/jquery.webcam.js")"></script>
<script>

    $(".captureImgBtn").click(function () {
        localStorage.elemId = $(this).attr("data-id");
        webcam.capture();
    });

    function sleep(time) {
        return new Promise((resolve) => setTimeout(resolve, time));
    }

    $("#Camera").webcam({
        width: 320,
        height: 240,
        mode: "save",
        swffile: "@Url.Content("~/Scripts/App/jscam.swf")",
    onTick: function () { },
    onSave: function () {
        UploadPicture();
    },
    onCapture: function () {
        var currentElemId = localStorage.elemId;
        if (currentElemId == "img1") {
            webcam.save("@Url.Content("~/Register/captureRegister1")/");
            sleep(500).then(() => {
                document.getElementById("img1").src = "/Content/Images/Register/RegisterImage1.jpg?" + new Date().getTime();
            });
        }
        if (currentElemId == "img2") {
            webcam.save("@Url.Content("~/Register/captureRegister2")/");
            sleep(500).then(() => {
                document.getElementById("img2").src = "/Content/Images/Register/RegisterImage2.jpg?" + new Date().getTime();
            });
        }
        if (currentElemId == "img3") {
            webcam.save("@Url.Content("~/Register/captureRegister3")/");
            sleep(500).then(() => {
                document.getElementById("img3").src = "/Content/Images/Register/RegisterImage3.jpg?" + new Date().getTime();
            });
        }

    },
    debug: function () { },
    onLoad: function () { }

    });
</script>

}